/*  ==========================================================================
	# Breadcrumbs
	======================================================================= */

.breadcrumbs {
	@extend %base;
	
	display: flex;
	margin: 0;
	padding-left: 3rem;
	padding-right: 3rem;
	
	@include media($medium) {
		padding: 0;
	}

	&__nav {
		margin: 2rem 0;
		
		@include media($medium) {
			margin: 0;
		}

	}

	&__list {
		margin: 0;
		padding: 0;
		line-height: 1.8;
	}

	&__item {
		display: inline-block;
		color: $white;

		&:before {
			display: none;
		}

		&:not(:last-of-type):after {
			content: '/';
			margin-left: 1rem;
			margin-right: 1rem;

			@include media($ipad) {
				margin-left: 2rem;
				margin-right: 2rem;
			}
		}
	}

	&__link {
		text-decoration: none;
		border-bottom: 1px solid;
		transition: border-bottom 300ms;
		color: $white;

		&:hover,
		&:focus {
			outline: 0;
			border-bottom-color: transparent;
		}
	}


	&__active {
		margin: 0;
	}
}