/*  ==========================================================================
	# Buttons
	======================================================================= */


.button {
	@extend %fs-22;
	font-weight: 300;
	color: $white;
	text-decoration: none;
	
	padding: 0.75em;
	border: 1px solid $primary;
	
	cursor: pointer;
	background-color: $primary;
	transition: all 0.3s ease;
	
	&:hover, &:focus {
		background-color: transparent;
		color: $primary;
	}
}


// .button {
// 	-webkit-appearance: none;
// 	-moz-appearance: none;
// 	background-color: transparent;
// 	display: inline-block;
// 	vertical-align: middle;
// 	padding: 0.6em 1.5em;
// 	line-height: 1.4;
// 	cursor: pointer;
// 	border-radius: $bbr;
// 	border: 0;
// 	@extend %fs-16;
// 	font-weight: 500;
// 	text-decoration: none;

// 	transition: all $base-duration $base-timing;

// 	&:hover,
// 	&:focus {
// 		outline: 0;
// 		color: $white;
// 	}

// 	&.button--mid-blue {
// 		background-color: $mid-blue;
// 		color: $white;

// 		&:hover,
// 		&:focus {
// 			background-color: $dark-grey;
// 		}
// 	}

// 	&.button--mid-grey {
// 		background-color: $mid-grey;
// 		color: $white;

// 		&:hover,
// 		&:focus {
// 			background-color: $mid-blue;
// 		}
// 	}

// 	.icon {
// 		margin-left: .6em;
// 	}


// }