/*  ==========================================================================
	# Carousels
	======================================================================= */

// .slide {
// 	position: relative;
// 	display: none;
// 	height: 100%;

// 	&:first-child {
// 		display: block;
// 	}
// }

// .slick-initialized .slide {
// 	display: block;
// }

// .slick-dotted.slick-slider {
// 	margin-bottom: 2rem;
// }


// .slick-dots {
// 	list-style: none;
// 	display: block;
// 	text-align: center;
// 	padding: 0;
// 	margin: 0;
// 	width: 100%;
// 	position: relative;
// 	bottom: auto;

// 	li {
// 		position: relative;
// 		display: inline-block;
// 		width: 18px;
// 		height: 18px;
// 		padding: 5px;
// 		cursor: pointer;

// 		button {
// 			display: block;
// 			width: 18px;
// 			height: 18px;
// 			border: 0;
// 			background: transparent;
// 			outline: none;
// 			line-height: 0px;
// 			font-size: 0px;
// 			color: transparent;
// 			padding: 5px;
// 			cursor: pointer;

// 			&:hover, &:focus {
// 				outline: none;

// 				&:before {
// 					//border-color: $dark-grey;
// 					background-color: $primary;
// 				}
// 			}

// 			&:before {
// 				content: '';
// 				position: absolute;
// 				top: 5px;
// 				left: 5px;
// 				width: 8px;
// 				height: 8px;
// 				line-height: 10px;
// 				text-align: center;
// 				background-color: $black;
// 				opacity: 1;
// 				//border: 1px solid $black;
// 				//border-radius: 50%;
// 				transition: background 300ms, border 300ms;
// 			}
// 		}

// 		&.slick-active button:before {
// 			background-color: $primary;
// 		}
// 	}
// }