/*  ==========================================================================
	# Content
	======================================================================= */
	
	// .main-content {
	// 	margin-top: 3.5rem;
	// 	margin-bottom: 5rem;
	// 	border-top: 1px solid $light-grey;


	// 	&__title {
	// 		@extend %fs-36;
	// 		font-weight: 300;
	// 		//padding-top: 3rem;
	// 		//margin-bottom: 1.5rem;
	// 		position: relative;
	// 		color: $primary;

	// 	}


	// 	&__summary {
	// 		@extend %fs-20;

	// 	}


	// 	&__last-updated {
	// 		@extend %fs-14;
	// 		font-style: italic;
	// 		border-top: 1px solid $light-grey;
	// 		padding-top: 1em;
	// 		margin-top: 3rem;
	// 		margin-bottom: 3rem;

	// 	}


	// 	&__article:not(.main-content__article--has-image) {
			
	// 		@include media($large) {
	// 			padding-right: pad-col( 1, 16 );
	//  		}

	// 		@include media($xlarge) {
	// 			padding-right: pad-col( 2, 16 );
	//  		}

	//  	}

	// 	&__article {

	// 		a {
	// 			color: $mid-blue;
	// 			text-decoration: none;
	// 			border-bottom: 1px solid;
	// 			transition: all 300ms;

	// 			&:hover,
	// 			&:focus {
	// 				outline: 0;
	// 				border-bottom-color: transparent;
	// 			}
	// 		}

	// 		ul,
	// 		ol {
	// 			margin-bottom: $base-spacing;

	// 			li {
	// 				margin-bottom: 0.5em;
	// 			}
	// 		}
			
	// 	}























	// }