/*  ==========================================================================
	# Links
	======================================================================= */

.link {
	@extend %base;
	//font-weight: 500;
	display: flex;
	align-items: center;
	text-decoration: none;
	overflow: hidden;
	color: $black;
	border-bottom: 0;
	
	span {
		display: inline-block;
		position: relative;

		border-bottom: 1px solid $white;
		padding-bottom: 0.5em;
		font-weight: bold;


		&:before {
			content: '';
			position: absolute;
		    left: 0;
		    bottom: -1px;
		    width: 100%;
		    height: 1px;
		    background: $black;
		    transform: translateX(-100%);
		    transition: transform .5s ease;
		}

		&:after {
		  	content: '/';
		  	padding-left: 6.5rem;
		}
	}

	.icon {
		width: 0.750em;
		height: 0.875em;
		margin-left: 1em;
		color: $mid-grey;
		transition: transform .5s ease;
		transform: translateX(0);
	}

	&:hover,
	&:focus {
		
		.icon {
			transform: translateX(1rem);
			color: $primary;
		}

		color: $white;

		span:before {
			transform: translateX(0);
		}
		
	}

	&--left {

		.icon {
			margin-right: 1em;
			margin-left: 0;
			transform: translateX(0);
		}

		span {

			border-bottom: 1px solid transparent;
			transition: border-color .5s ease;
			
			&:before {
				display: none;
			}

		}


		&:hover,
		&:focus {
			
			.icon {
				transform: translateX(0);
			}

			span {
				border-color: $primary;
			}
			
		}

	}

	&--border-top {
		border-top: 1px solid $mid-grey;
		padding-top: 0.75em;
	}

	&--reverse {
		border-color: $black;
		color: $white;

		.icon {
			color: $white;
		}

		span {
			
			&:before {
				background: $white;
			 
			  }
		}

		&:hover,
		&:focus {
			
			.icon {
				color: $white;
			}
			
		}



	}
	

	  
	  
	
	
}