/*  ==========================================================================
	# Rcihtext: Craft WYSIWYG field
	======================================================================= */

// .internal__article,
// .richtext {

// 	h2,
// 	h3,
// 	h4 {
// 		@extend %caps;
// 		margin-top: 2.5em;
// 		margin-bottom: 1em;
// 		color: $black;
// 	}

// 	h2 {
// 		@extend %fs-a;
// 		@include font-size(40px, $max);
// 	}

// 	h3 {
// 		@extend %fs-b;
// 	}

// 	h4 {
// 		@extend %fs-c;
// 	}

// 	h2 + h3,
// 	h3 + h4 {
// 		margin: 1em 0 1em;
// 	}
// }

// .richtext {

// 	> *:first-child {
// 		margin-top: 0;
// 	}

// 	p,
// 	ol,
// 	ul {
// 		@extend %fs-c;
// 		font-weight: 400;
// 	}

// 	p {
// 		line-height: 1.65;
// 		margin: 0;
// 		margin-bottom: 1.5em;
// 	}


// 	ol {
// 		list-style-type: decimal;
// 		margin: 1.5rem 0 1.5rem 2rem;

// 		li {
// 			margin-bottom: 1rem;
// 			padding-left: 1rem;
// 		}
// 	}

// 	ul {
// 		list-style-type: none;
// 		position: relative;
// 		margin: 1.5em 0;
// 		padding-left: 2em;

// 		li {
// 			margin-bottom: 0.5em;

// 			&:before {
// 				content: '—';
// 				display: inline-block;
// 				position: absolute;
// 				left: 0;
// 			}
// 		}

// 		ul {
// 			margin-top: 1em;

// 			li {
// 				&:before {
// 					border-color: $primary;
// 				}
// 			}
// 		}
// 	}

// 	strong {
// 		font-weight: 700;
// 	}

// 	a {
// 		color: $primary;
// 		text-decoration: underline;
// 		transition: background-color 300ms;

// 		&:hover,
// 		&:active,
// 		&:focus {
// 			background-color: $light-grey;
// 			outline: 0;
// 		}
// 	}

// 	table {
// 		@extend %base;
// 		margin-top: $pad-sm;
// 		margin-bottom: $pad-sm;

// 		thead {
// 			@extend %caps;

// 			th {
// 				font-weight: 400;
// 				border-top: 1px solid;
// 				padding: 0.25em 0 1.75em;
// 			}
// 		}

// 		tbody {
// 			td {
// 				border-top: 1px solid $light-grey;
// 				border-bottom: 0;
// 				padding: 0.5em 0 1em;
// 			}
// 		}
// 	}
// }