/*  ==========================================================================
	# Search results
	======================================================================= */

	// .search-results {
	// 	margin: 0;
	// 	padding: 0;
	// 	list-style-type: none;

	// 	&__item {
	// 		border-bottom: 2px solid $primary;
	// 		padding-bottom: 2rem;
	// 		margin-bottom: 2rem;
	// 	}

	// 	&__link {
	// 		@extend %fs-22;
	// 		color: $primary;
	// 		text-decoration: none;
	// 		border-bottom: 1px solid transparent;
	// 		transition: all 0.3s ease;

	// 		&:hover,
	// 		&:focus {
	// 			color: $primary;
	// 			border-color: $primary;
	// 		}
	// 	}

	// 	&__text {
	// 		@extend %fs-22;

	// 	}


	// 	.breadcrumbs {
	// 		margin: 1rem 0;
	// 	}


	// }