/*  ==========================================================================
	# Selects
	======================================================================= */

/*  ==========================================================================
	## Language
	======================================================================= */

.select2-container--language {

	.select2-selection--single {
		background-color: transparent;
		color: $white;
		border: 0;
		border-radius: 0;
		height: 1em;

		&:focus,
		&--focus {
			outline: 0;
		}

		.select2-selection__rendered {
			color: $white;
			line-height: 1;
		}

		.select2-selection__clear {
			font-weight: normal;
		}

		.select2-selection__placeholder {
			// color: #999;
		}

		.select2-selection__arrow {
			height: 1em;

			position: absolute;

			top: 1px;
			right: 1px;

			width: 1em;

			b {
				border-color: $white transparent transparent transparent;
				border-style: solid;
				border-width: 5px 4px 0 4px;

				height: 0;
				left: 50%;

				margin-left: -4px;
				margin-top: -2px;

				position: absolute;

				top: 50%;
				width: 0;
			}
		}
 	}

	&.select2-container--disabled {
		.select2-selection--single {
			background-color: #eee;
			cursor: default;

			.select2-selection__clear {
				display: none;
			}
		}
	}

	&.select2-container--open {
		.select2-selection--single {
			.select2-selection__arrow {
				b {
					border-color: transparent transparent $white transparent;
					border-width: 0 4px 5px 4px;
				}
			}
		}
	}

	&.select2-container--open .select2-dropdown {
	    background-color: $white;
	    border: 0;
	    border-radius: 0px;
	    margin-top: 0.5em;
	}

	&[dir="rtl"] {
		.select2-selection--single {
			.select2-selection__clear {
				float: left;
			}

			.select2-selection__arrow {
				left: 1px;
				right: auto;
			}
		}
	}

	&.select2-container--open.select2-container--above {
		.select2-selection--single, .select2-selection--multiple {
			border-top-left-radius: 0;
			border-top-right-radius: 0;
		}
	}

	&.select2-container--open.select2-container--below {
		.select2-selection--single, .select2-selection--multiple {
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}
	}

	.select2-search--dropdown {
		.select2-search__field {
			border: 1px solid #aaa;
		}
	}

	.select2-search--inline {
		.select2-search__field {
			background: transparent;
			border: none;
			outline: 0;
			box-shadow: none;
			-webkit-appearance: textfield;
		}
	}

	.select2-results > .select2-results__options {
		max-height: 200px;
		overflow-y: auto;
	}

	.select2-results__option {
		&[role=group] {
			padding: 0;
		}

		&[aria-disabled=true] {
			color: #999;
		}

		&[aria-selected=true] {
			background-color: $mid-grey;
		}

		.select2-results__option {
			padding-left: 1em;

			.select2-results__group {
				padding-left: 0;
			}

			.select2-results__option {
				margin-left: -1em;
				padding-left: 2em;

				.select2-results__option {
					margin-left: -2em;
					padding-left: 3em;

					.select2-results__option {
						margin-left: -3em;
						padding-left: 4em;

						.select2-results__option {
							margin-left: -4em;
							padding-left: 5em;

							.select2-results__option {
								margin-left: -5em;
								padding-left: 6em;
							}
						}
					}
				}
			}
		}
	}

	.select2-results__option--highlighted[aria-selected] {
		background-color: $dark-grey;
		color: $white;
	}

	.select2-results__group {
		cursor: default;
		display: block;
		padding: 6px;
	}
}


/*  ==========================================================================
	## Custom
	======================================================================= */

.select2-container--custom {
	@extend %fs-d;
	@extend %caps;

	.select2-selection--single,
	.select2-selection--multiple {
		color: $black;
		line-height: 1.33;
		appearance: none;
		background-color: transparent;
		padding: 0.73em 3em 0.73em 1em;
		border: 1px solid;
		border-radius: 0;
		height: auto;

		&:focus,
		&--focus {
			outline: 0;
		}

		.select2-selection__rendered {
			color: $black;
			line-height: 1;
			padding-left: 0;
			padding-right: 0;
		}

		.select2-selection__clear {
			font-weight: normal;
		}

		.select2-selection__placeholder {
			// color: #999;
		}

		.select2-selection__arrow {
			position: absolute;
			width: 2em;
			top: 1px;
			bottom: 1px;
			right: 1px;

			b {
				border-color: $black transparent transparent transparent;
				border-style: solid;
				border-width: 8px 5px 0 5px;

				position: absolute;
				height: 0;
				width: 0;
				top: 50%;
				left: 50%;

				transform: translateY(-50%);
				transition: border-width 300ms;
			}
		}
 	}

 	.select2-selection--multiple {

 		.select2-selection__rendered {
 			display: flex;
 			// flex-wrap: wrap;
 			align-items: baseline;
 		}

 		.select2-selection__choice {

 			+ .select2-selection__choice,
 			+ .select2-search--inline {

 				&:before {
	 				content: ', ';
 				}

 				&:nth-of-type(3):before {
 					display: none;
 				}
 			}
 		}

 		.select2-selection__choice__remove {
 			display: none;
 		}

 		.select2-search--inline {

 			.select2-search__field {
 				@extend %fs-d;
 				@extend %caps;
 				margin: 0;
 				background: transparent;
 				border: none;
 				outline: 0;
 				box-shadow: none;
 				-webkit-appearance: textfield;

 				&::placeholder {
 					color: $black;
 				}
 			}
 		}
 	}

	&.select2-container--disabled {
		.select2-selection--single {
			background-color: #eee;
			cursor: default;

			.select2-selection__clear {
				display: none;
			}
		}
	}

	&.select2-container--open {
		.select2-selection {
			.select2-selection__arrow {
				b {
					border-color: transparent transparent $black transparent;
					border-width: 0 5px 8px 5px;
				}
			}
		}
	}


	&.select2-container--open .select2-dropdown {
		background-color: $white;
		border: 1px solid mid-grey;
		border-radius: 0px;
	}

	&[dir="rtl"] {
		.select2-selection--single {
			.select2-selection__clear {
				float: left;
			}

			.select2-selection__arrow {
				left: 1px;
				right: auto;
			}
		}
	}

	&.select2-container--open.select2-container--above {
		.select2-selection--single, .select2-selection--multiple {
			border-top-left-radius: 0;
			border-top-right-radius: 0;
		}
	}

	&.select2-container--open.select2-container--below {
		.select2-selection--single, .select2-selection--multiple {
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}
	}

	.select2-search--dropdown {
		.select2-search__field {
			border: 1px solid #aaa;
		}
	}

	.select2-search--inline {
		.select2-search__field {
			background: transparent;
			border: none;
			outline: 0;
			box-shadow: none;
			-webkit-appearance: textfield;
		}
	}

	.select2-results > .select2-results__options {
		max-height: 500px;
		overflow-y: auto;
	}

	.select2-results__option {
		line-height: 1.33;
		padding: 0.73em 1em;
		border-top: 1px solid $white;

		&:first-child {
			border-top: 0;
		}

		&[role=group] {
			padding: 0;
		}

		&[aria-disabled=true] {
			color: #999;
		}

		&[aria-selected=true] {
			background-color: darken($light-grey, 5%);
		}

		.select2-results__option {
			padding-left: 1em;

			.select2-results__group {
				padding-left: 0;
			}

			.select2-results__option {
				margin-left: -1em;
				padding-left: 2em;

				.select2-results__option {
					margin-left: -2em;
					padding-left: 3em;

					.select2-results__option {
						margin-left: -3em;
						padding-left: 4em;

						.select2-results__option {
							margin-left: -4em;
							padding-left: 5em;

							.select2-results__option {
								margin-left: -5em;
								padding-left: 6em;
							}
						}
					}
				}
			}
		}
	}

	.select2-results__option--highlighted[aria-selected] {
		background-color: $mid-grey;
	}

	.select2-results__group {
		cursor: default;
		display: block;
		padding: 6px;
	}
}
