/*  ==========================================================================
	# Global
	======================================================================= */

html {
	height: 100%;
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	position: relative;
	min-height: 100%;
	background-color: $white;
	@extend %fs-base;
}

.wrapper {
	width: 100%;
	//overflow: hidden;
	position: relative;
	margin: 0 auto;
	
}

.inner-wrapper {
	@include fp('margin-left', 10px, 20px, $small, $medium, $remove-start: false, $remove-end: true);
	@include fp('margin-left', 50px, 80px, $medium, $ipad, $remove-start: true, $remove-end: true);
	@include fp('margin-left', 20px, 500px, $ipad, $max, $remove-start: true, $remove-end: false);

	@include fp('margin-right', 10px, 20px, $small, $medium, $remove-start: false, $remove-end: true);
	@include fp('margin-right', 50px, 80px, $medium, $ipad, $remove-start: true, $remove-end: true);
	@include fp('margin-right', 20px, 500px, $ipad, $max, $remove-start: true, $remove-end: false); 

}

.container {
	width: 100%;
	position: relative;
	background-color: rgba($white, 0.25);
	//@extend %inset;
}


footer {

	.row div[class^='col'], .row div[class*=' col']{
		background-color: rgba($white, 0.25);
	}
	
	.row.row--gutter div[class^='col'], .row.row--gutter div[class*=' col']{
		background-color: transparent;
		
		> div {
			background-color: rgba($white, 0.25);
		}
	}

}



// .row {
// 	&--justify {
// 		justify-content: space-between;
// 	}
// }


.phablet-down {
	display: block;
	@include media($nexus) {
		display: none;
	}
}
.phablet-up {
	display: none;
	@include media($nexus) {
		display: block;
	}
}
.tablet-down {
	display: block;
	@include media($ipad) {
		display: none;
	}
}
.tablet-up {
	display: none !important;
	@include media($ipad) {
		display: block !important;
	}
}
.xlarge-down {
	display: block;
	@include media($xlarge) {
		display: none;
	}
}
.large-up {
	display: none;
	@include media($large) {
		display: block;
	} 
}
.medium-up {
	display: none;
	@include media($medium) {
		display: block;
	}
}
.ipad-up {
	display: none;
	@include media($ipad) {
		display: block;
	}
}
.small-only {
	display: block;
	@include media($ipad) {
		display: none;
	}
}


// #goog-wm {

// 	ul {
// 		padding: 0;
// 	}

// 	ul li {
// 		padding-left: 0;
// 	}

// 	ul li:before {
// 		display: none;
// 	}

// 	input[type="submit"] {
// 		margin-top: 1.5rem;
// 	}
// }






/*  ==========================================================================
	##Icons
	======================================================================= */

.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

/*  ==========================================================================
	##Bg Colours
	======================================================================= */

@each $property, $value in $colors {
	.bg {
		&--#{$property} {
			background-color: $value !important;
		}
	}
}

.bg--black {
	color: $white;

	a {
		color: $white;
	}
}


// @each $property, $value in $colors {
// 	.border {
// 		&--#{$property} {
// 			border-color: $value !important;
// 		}
// 	}
// }



/*  ==========================================================================
	#Helpers
	======================================================================= */


.m {

	&__right {

		&--auto {
			margin-right: auto;
		}
	}

	&__left {

		&--auto {
			margin-left: auto;
		}
	}

	&__bottom {

		&--0 {
			margin-bottom: 0;
		}
	}
}

%pseudo {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

%pseudo-r {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
}

/*  ==========================================================================
	##Inset
	======================================================================= */

%inset {
	padding-left: $pad-small * 0.5;
	padding-right: $pad-small * 0.5;

	@include media($medium) {
		padding-left: $pad-small;
		padding-right: $pad-small;
	}

	@include media($ipad) {
		padding-left: $pad-large;
		padding-right: $pad-large;
	}

	@include media($huge) {
		padding-left: $gutter;
		padding-right: $gutter;
	}
}

%edge--right {
	right: -$pad-small * 0.5;

	@include media($medium) {
		right: -$pad-small;
	}

	@include media($ipad) {
		right: -$pad-large;
	}

	@include media($huge) {
		right: -$gutter;
	}

	@include media($max) {
		right: (2560px - 1600px) / -2;
	}
}

%edge--left {
	left: -$pad-small * 0.5;

	@include media($medium) {
		left: -$pad-small;
	}

	@include media($ipad) {
		left: -$pad-large;
	}

	@include media($huge) {
		left: -$gutter;
	}

	@include media($max) {
		left: (2560px - 1600px) / -2;
	}
}