/* =============================================================================
	# Header
================================================================================ */

.header {
	color: $primary;
	padding-top: 2rem;
	padding-bottom: 2rem;
	position: relative;
	z-index: 1000;


	&__logo {
		img {
			display: block;
		}
	
    	
	}

	&__nav {
		display: none;
		margin-left: pad-col(1,18);
		margin-right: pad-col(1,18);

		@include media($ipad) {
			display: block;
		}


	}

	&__mobile-menu-button {
		margin-top: 4px;
	}

	
	

}




/* =============================================================================
	# Fixed Header
================================================================================ */

// .fixed-header {
// 	color: $primary;
// 	display: none;
// 	background-color: rgba($white,0.9);
// 	padding-top: 1.5rem;
// 	padding-bottom: 1.5rem;
// 	position: fixed;
// 	z-index: 2000;
// 	width: 100%;

// 	@include media-max($ipad) {
// 		display: none !important;
// 	}

// 	// @include media($large) {
// 	// 	padding-bottom: 3rem;
// 	// }


// 	&__logo {
// 		text-decoration: none;
// 		color: $black;

// 		width: 100%;
// 		height: auto;

		
    	
// 	}

// 	&__nav {
// 		// margin-top: 3rem;


		

// 		// @include media($large) {
// 		// 	margin-top: 4rem;
// 		// }

// 	}

// }