/*  ==========================================================================
	#Navigation
	======================================================================= */


/*  ==========================================================================
	## MAIN NAVIGATION
	======================================================================= */

	.main-nav {

		
		z-index: 100;
		

		&__list {
			list-style-type: none;
			margin: 0;
			padding: 0;
			display: flex;
			flex-wrap: nowrap;
			align-items: center;
			justify-content: space-between;

		}

		&__item {
			position: relative;

			&--open:after {
				content: '';
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 0 0.75rem 1.25rem 0.75rem;
				border-color: transparent transparent rgba($primary,1) transparent;
				bottom: -2rem;
        min-width: 120px;

				@include media($large) {
					bottom: -3rem;
				}
			}

			
		}

		@at-root {
			
			.fixed-header .main-nav__item--open:after {
				bottom: -2.25rem;
			}


		}


		&__link {
			@extend %fs-22;
			color: $primary;
			text-decoration: none;
			position: relative;
			font-weight: normal;

			position: relative;
			
			&:after {
				position: absolute;
				bottom: -0.25em;
				left: 0;
				width: 100%;
				height: 2px;
				background: $primary;
				content: '';
				opacity: 0;
				transition: opacity 0.3s ease, transform 0.3s ease;
				transform: translateY(1em);

			}

			&:hover:after, 
			&:focus:after {
				
				opacity: 1;
				transform: translateY(0em);
				outline: 0;

			} 

		}









	}


/*  ==========================================================================
	## MEGA MENU
	======================================================================= */


.wrapper {

	&:after {
		content: "";
	    display: block;
	    position: absolute;
	    z-index: 900;
	    top: 0;
	    left: 0;
	    width: 100%;
	    background-color: transparent;
	    transition: background .5s;
	}

	&.menu--open:after {
		height: 100%;
		background-color: rgba($black, 0.75);
	
	}

}




.menu {
	position: absolute;
	width: 100%;
	z-index: 1000;
	
	background: -moz-linear-gradient(top, rgba(0,173,125,1) 0%, rgba(0,173,125,0.8) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(0,173,125,1) 0%,rgba(0,173,125,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(0,173,125,1) 0%,rgba(0,173,125,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ad7d', endColorstr='#cc00ad7d',GradientType=0 ); /* IE6-9 */

	&--fixed {
		position: fixed;
		top: auto;
	}

	&__section {
		display: none;
		position: relative;
		padding: 3.5rem 0;

		&--open { display: flex; }

		&:not(.menu__section--projects):not(.menu__section--services) {
			align-items: flex-start;
		}

		&--general {
			.menu__list {
				flex-wrap: wrap;
				justify-content: flex-start;
				margin-bottom: -1.5rem;
			}

			.menu__item {
				position: relative;
				
				// width: 22%;
				// padding-bottom: 13.961%;
				padding-bottom: 11%;
				margin-right: 4%;
				margin-bottom: 1.5rem;

				@include media($large) {
					// width: 15%;
					// padding-bottom: 13.961%;
					padding-bottom: 11%;
					// margin-right: 5%;
				}
			}

			.menu__link {
				text-align: center;
				text-decoration: none;
				color: $white;
				
				position: absolute;
				left: 0;
				top: 0;
				
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				
				width: 100%;
				height: 100%;
				padding: 1.5rem 2rem;
				
				background-color: #117455;
				// background-color:rgba(0,0,0,0.3);
				// background-color: $darkest-grey;
				// background-color: $dark-grey;
				transition: color 0.3s ease, background-color 0.3s ease;
				
				&:hover, &:focus {
					color: $black;
					background-color: $white;

					.menu__title { color: $black; }
				}
				
				.menu__title { color: $white; }
			}
		}
		
		&--industry {
			.menu__list {
				flex-wrap: wrap;
				justify-content: flex-start;
				margin-bottom: -1.5rem;
				max-width: 70rem;
			}

			.menu__item {
				width: 25%;
				margin-bottom: 1.5rem;
			}

			.menu__link {
				text-align: center;
				text-decoration: none;
				color: $black;
				
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				
				width: 100%;
				height: 100%;
				
				transition: color 0.3s ease, background-color 0.3s ease;
				
				&:hover, &:focus {
					color: $white;
					
					.menu__title { color: $black; }
				}
			}
			
			.menu__title {
				color: $white;
				margin: 0 1em;
			}
			
			.menu__icon {
				width: 112px;
				max-width: 70%;
				height: 112px;
				margin-bottom: 2em;
			}
		}
	}

	&__overview {
		

	}

	&__heading {
		color: #fff;
		@extend %fs-30;
		margin: 0;
		padding: 0;

	}

	&__nav {
		margin: 0;
		padding: 0;
		
	}
	
	&__list {
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	&__item {
		width: pad-col(3.5,17);
	}

	&__link {

		&:hover,
		&:focus {
			.menu__title {
				color: $white;
			}
			.menu__thumb {
				opacity: 0.8;
			}

		}

	}

	&__thumb {
		margin-bottom: 1rem;
		display: block;
		transition: opacity 0.3s ease;
	}

	&__title {
		color: $black;
		text-decoration: none;
		@extend %fs-16;
		//display: inline-block;
		font-weight: bold;

		//border-bottom: 1px solid transparent;
		transition: color 0.3s ease, border 0.3s ease;
		//padding-bottom: 0.3em;
	}
	

	&__view-all {

	}
	
	&__view-all-link {
		color: $black;
		@extend %fs-16;

		&:hover,
		&:focus {
			color: $white;
		}
	}













}





/*  ==========================================================================
	## SUBNAV
	======================================================================= */

	.subnav {
		position: sticky;
		top: 2rem;
		
		@include media($ipad) {
			top: 8rem;
		}

		// @include media($large) {
		// 	top: 8rem;
		// }

		&__list {
			list-style-type: none;
			margin: 0;
			padding: 0;

			& .subnav__list {
				display: none;
				margin-left: 2em;
				margin-bottom: 2em;
			}

		}

		&__item {
			
			&--open {

				& > .subnav__list {
					display: block;
				}

				& > .subnav__link {
					color: $primary;
				}
			} 

			&--childactive {

				& > .subnav__list {
					display: block;
				}

				& > .subnav__link {
					font-weight: bold;
				}
			}

			&--active {

				& > .subnav__link {
					font-weight: bold;
				}
			}

			&--all .subnav__link {
				display: flex;
				align-items: center;
				//justify-content: space-between;

				border-bottom: none;
				margin-top: 3.5rem;

				.icon {
					margin-left: 2em;
					color: $primary;
				}
				
				
			}




		}

		&__link {
			display: block;
			@extend %fs-20;
			color: $black;
			text-decoration: none;
			border-bottom: 1px solid $primary;
			padding-bottom: 1em;
			margin-bottom: 1em;

			&:hover,
			&:focus {
				color: $primary;
			}

			
		}







	}








/*  ==========================================================================
	## FOOTER LINKS
	======================================================================= */

	.footer-nav {

		&__list {
			margin: 0;
			padding: 0;

		}

		&__item {
			width: 100%;
			padding-bottom: 1em;

			@include media($medium) {
				width: 45%;
	 		}
			
		}

		&__link {
			@extend %base;
			color: $white;
			text-decoration: none;
			font-weight: 400;

			&:hover,
			&:focus {
				text-decoration: underline;
			}
		}

		&--columns {

			.footer-nav__list {
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				justify-content: space-between;
				position: relative;
			}

			.footer-nav__link {
				font-weight: 500;
			}
		} 
			

	}
