/*  ==========================================================================
	#Print
	======================================================================= */


/*  ==========================================================================
	## Boilerplate styles 
	======================================================================= */

@media print {

	* {
		//background: transparent !important;
		box-shadow: none !important;
		text-shadow: none !important;
		overflow: visible !important;
	}

	// *[class^="col-"],
	// .row {
	// 	display: block !important;
	// }

	html {
		font-size: 16px !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	// a[href]:after {
	// 	content: " (" attr(href) ")";
	// 	font-size: 12px;
	// }

	// abbr[title]:after {
	// 	content: " (" attr(title) ")";
	// }

	/*
		* Don't show links for images, or javascript/internal links
		*/

	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after,
	a.header__logo:after,
	.datalist__detail a:after {
		content: "";
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	thead {
		display: table-header-group; /* h5bp.com/t */
	}

	tr,
	img,
	.news-teaser__item {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	

	@page {
		margin: 2cm 0.5cm;
	}

	.internal__content	{

		
		h1 {
			font-size: 22px !important;
		}
	
		h2 {
			font-size: 20px !important;
		}
	
		h3 {
			font-size: 18px !important;
		}
	
		h4 {
			font-size: 16px !important;
		}
	
		h5 {
			font-size: 15px !important;
		}
		
		p,
		ul li,
		ol li,
		a {
			font-size: 15px !important;
		}
	

	}

	
	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}



	.banner__heading-row {
		min-height: 0 !important;



	}

	




	/*  ==========================================================================
	## HIDE THESE ELEMENTS 
	======================================================================= */

	.banner__image-wrapper,
	.banner__breadcrumbs-row,
	.subnav,
	.footer__form,
	.footer__credits,
	.internal__aside,
	.header__mobile-search-button,
	.header__mobile-menu-button,
	.footer__pattern,
	.lazy__placeholder,
	.fixed-header,
	.slider,
	.service-teaser__image,
	.key-services__link,
	.intro__text a,
	.banner--hero {
		display: none !important;
	}


	.header,
	.header.bg--primary {
		background-image: none !important;
		background-color: $white !important;
	}



	@each $property, $value in $colors {
		.bg {
			&--#{$property} {
				background-color: $white !important;
				color: $black !important;

				a {
					color: $black !important;
				}
			}
		}
	}





/*  ==========================================================================
	## RESET PADDINGS / BORDERS / SIZING
	======================================================================= */

	



}
	




	