{% extends "layouts/base.twig" %}

{% block main %}

    <div class="inner-wrapper">
        <div class="container">

          <h1>The Duke of Brittany</h1>
          <h5>by Henriette Jeanrenaud</h5>

          <div class="chapter">
            <div class="chapter_list">

              <div class="chapter_item">
                <div class="chapter_desc">
                  <h2>Chapter 1: The hunt</h2>
                  <p>On the second evening after her arrival, 
                  Constance found herself alone with her attendants, 
                  for the Duke and the nobles, who were taking part in the chase,
                  had ridden to the forest at early morning light with their retinues.</p>
                   <br>
                </div>
                <div class="chapter_btn">
                  <button class="btn">Download Chapter1</button>
                  <button class="btn btn-secondary"> Buy Now </button>
                  <i class="fa fa-shopping-cart"></i>
                </div>
                
               
              </div>
              
              <div class="chapter_item">
                <div class="chapter_desc">
                  <h2>Chapter 1: The hunt</h2>
                  <p>On the second evening after her arrival, 
                  Constance found herself alone with her attendants, 
                  for the Duke and the nobles, who were taking part </p>
                   <br>
                </div>
                <div class="chapter_btn">
                  <button class="btn">Download Chapter1</button>
                  <button class="btn btn-secondary"> Buy Now </button>
                  <i class="fa fa-shopping-cart"></i>
                </div>
                
              </div>

              <div class="chapter_item">
                <div class="chapter_desc">
                  <h2>Chapter 1: The hunt</h2>
                  <p>On the second evening after her arrival, 
                  Constance found herself alone with her attendants, 
                  for the Duke and the nobles, who were taking part in the chase,
                  had ridden to the forest at early morning light with their retinues.</p>
                   <br>
                </div>
               <div class="chapter_btn">
                  <button class="btn">Download Chapter1</button>
                  <button class="btn btn-secondary"> Buy Now </button>
                  <i class="fa fa-shopping-cart"></i>
                </div>
                
              </div>

              <div class="chapter_item">
                <div class="chapter_desc">
                  <h2>Chapter 1: The hunt</h2>
                  <p>On the second evening after her arrival, 
                  Constance found herself alone with her attendants, 
                  for the Duke and the nobles, who were taking part in the chase,
                  had ridden to the forest at early morning light with their retinues.</p>
                  <br>
                </div>
                <div class="chapter_btn">
                  <button class="btn">Download Chapter1</button>
                  <button class="btn btn-secondary"> Buy Now </button>
                   <i class="fa fa-shopping-cart"></i>
                </div>
               
               
              </div>
              
              <div class="chapter_item">
                <div class="chapter_desc">
                  <h2>Chapter 1: The hunt</h2>
                  <p>On the second evening after her arrival, 
                  Constance found herself alone with her attendants, 
                  for the Duke and the nobles, who were taking part </p>
                   <br>
                </div>
                <div class="chapter_btn">
                  <button class="btn">Download Chapter1</button>
                  <button class="btn btn-secondary"> Buy Now </button>
                   <i class="fa fa-shopping-cart"></i>
                </div>
               
              </div>

              <div class="chapter_item">
                <div class="chapter_desc">
                  <h2>Chapter 1: The hunt</h2>
                  <p>On the second evening after her arrival, 
                  Constance found herself alone with her attendants, 
                  for the Duke and the nobles, who were taking part in the chase,
                  had ridden to the forest at early morning light with their retinues.</p>
                   <br>
                </div>
               <div class="chapter_btn">
                  <button class="btn">Download Chapter1</button>
                  <button class="btn btn-secondary"> Buy Now </button>
                  <i class="fa fa-shopping-cart"></i>
                </div>
                
              </div>
            



            </div>
          </div>


        </div>
    </div>

    <!-- This is how you can use the icon sprite 
    <span class="icon">
        <svg>
            <use xlink:href="#icon-example" />
        </svg>
    </span>  -->
{% endblock %}