.btn {
  border-radius: 6px;	
  background-color: rgba(255,255,255,0.8);	
  box-shadow: inset 0 2px 0 0 #FFFFFF, 0 1px 2px 0 rgba(0,0,0,0.2);	
  padding: 7px 11px;
  @extend %fs-14;
}

.btn-secondary {
  border: 2px solid #000000;	
  background-color: #000000;
  	box-shadow: inset 0 2px 0 0 #000000, 0 1px 2px 0 rgba(0,0,0,0.2);
  color: #fff;
}