.chapter {
  margin: 2.5rem 0 3rem;
  color: #333;

  h2 {
    margin-top: 0;
  }

  &_list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;
  grid-auto-rows: minmax(100px, auto);
  @media (min-width: $medium) {
    grid-template-columns: repeat(3, 1fr);
  }
  }

  &_item {
    background-color: rgba(188,93,91,0.7);
    padding: 2rem;
    position: relative;
  }

  &_desc {
    margin-bottom: 1rem;
  }

  &_btn {
    // display: flex;
    // justify-content: space-between;
    position: absolute;
    bottom: 20px;
    .btn-secondary {
      position: relative;
      margin-left: 15px;
    }
  }
  
  .fa-shopping-cart {
    position: absolute;
    top: -12px;
    right: -10px;
    color: #76EE0D;	
    height: 24px;	
    width: 27px;	
    font-size: 24px;	
    line-height: 24px;
  }
}


