.footer {
  height: 195px;	
  text-align: center;
  background-color: rgba(188,93,91,0.15);
  padding-top: 0.5rem;
  h2 {
    @extend %fs-28;
    margin-bottom: 0.5rem;
  }

  p {
    @extend %fs-c;
    font-weight: normal;
    text-transform: uppercase;
  }
}