.header {
	height: 60px;
  background-color: rgba(188,93,91,0.5);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  font-size: 1rem;	
  .container {
    background-color: transparent;
  }
  &.scrolled {
    position: fixed;
    width : 100%;
    z-index: 100;
    margin-top: -60px;
    background-color: rgba(188,93,91,0.8);
  }
}

//  Top Nav
#mobile-menu {  
  position: absolute;
  top: 90px;
  right: 0;
  background-color: pink;
  @media (min-width: $medium) {
    display: none;
  }
}

.main-nav__item {
  min-width: 120px;
}