//@import 'common/variables';
//@import '~harmony/normalize';
//@import '~harmony/core';

/* ====================================================================================================================
	# Globals & Variables
==================================================================================================================== */
@import "common/colors";
@import "common/variables";
@import "common/mixins";
@import "common/global";
@import "common/typography";
@import "common/forms";
@import "common/flexbox_grid";
@import "common/animation";
@import "common/icons";
@import "common/lazyload";

/* ====================================================================================================================
	# Plugins & Libraries
==================================================================================================================== */
// @import "plugins/mmenu";
@import "plugins/hamburgers/hamburgers";
@import "plugins/select2";

// @import "../../node_modules/mmenu-light/src/mmenu-light";
@import "../../node_modules/mmenu-js/src/mmenu";
// @import "plugins/mmenu-light";


/* ====================================================================================================================
	# Structure
==================================================================================================================== */
@import "structure/general";
@import "structure/header";
@import "structure/navigation";
@import "structure/footer";

@import "mina/header";
@import "mina/footer";
@import "mina/chapter";
@import "mina/logo";
@import "mina/button";

/* ====================================================================================================================
	# Layouts
==================================================================================================================== */
@import "layouts/home";
@import "layouts/internal";
@import "layouts/landing";


/* ====================================================================================================================
	# Components
==================================================================================================================== */
@import "components/banner";
@import "components/breadcrumbs";
@import "components/buttons";
@import "components/carousels";
@import "components/content";
@import "components/links";


/* ====================================================================================================================
	# Blocks
==================================================================================================================== */
// @import "blocks/richtext";
// @import "blocks/accordion";
// @import "blocks/blockquote";
// @import "blocks/gallery";
// @import "blocks/links";
// @import "blocks/people";
// @import "blocks/image-grid";
// @import "blocks/fullimage";
// @import "blocks/logos";

/* ====================================================================================================================
	# Print
=======================================================≈============================================================= */


@import "structure/print";

// body {
//     background: #3064FA;
//     color: white;
//     font-size: 10em;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     min-height: 100vh;
//     margin: 0;
// }

// .icon {
//     display: inline-block;
//     fill: none;
//     stroke: currentColor;
//     vertical-align: middle;

//     svg {
//         width: 1em;
//         height: 1em;
//         display: block;
//     }
// }

// .icon {
//     animation: breathe 1s infinite alternate ease-in-out;
// }

// @keyframes breathe {
//     to {
//         transform: scale(1.25);
//     }
// }

// Harmony example code
// .four-col {
//  @include grid-column($width: (min: 1, sm:1/2, md: 1/4));
// }