/*  ==========================================================================
	# Colors
	======================================================================= */


// Basic

$white: #fff;
$black: #202020;
//$black: #030c0b; ?

// Greys

$lightest-gray: #f7f7f7;
$lightest-grey: $lightest-gray;

$light-gray: #eaeaea;
$light-grey: $light-gray;

$mid-gray: #b5b5b5;
$mid-grey: $mid-gray;

$dark-gray: #646464;
$dark-grey: $dark-gray;

$darkest-grey: #404040;

// Project colours

$primary:$black;
$secondary: lightblue;
$tertiary: blue;
$green: $primary;

$red: #d82027;
$blue: #009abb;


// UI
$error: $primary;


// Define colour map
$colors: (
	white: $white,
	black: $black,
	light-grey: $light-grey,
	lightest-grey: $lightest-grey,
	mid-grey: $mid-grey,
	dark-grey: $dark-grey,
	primary: $primary,
	secondary: $secondary,
	hotpink: hotpink
);