/*----------------------------------------------------------------------*\
	# Flexbox Mixins
\*----------------------------------------------------------------------*/
// http://philipwalton.github.io/solved-by-flexbox/
// https://github.com/philipwalton/solved-by-flexbox
//
// Copyright (c) 2013 Brian Franco
//
// Permission is hereby granted, free of charge, to any person obtaining a
// copy of this software and associated documentation files (the
// "Software"), to deal in the Software without restriction, including
// without limitation the rights to use, copy, modify, merge, publish,
// distribute, sublicense, and/or sell copies of the Software, and to
// permit persons to whom the Software is furnished to do so, subject to
// the following conditions:
// The above copyright notice and this permission notice shall be included
// in all copies or substantial portions of the Software.
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS
// OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
// MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.
// IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY
// CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT,
// TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE
// SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
//
// This is a set of mixins for those who want to mess around with flexbox
// using the native support of current browsers. For full support table
// check: http://caniuse.com/flexbox
//
// Basically this will use:
//
// * Fallback, old syntax (IE10, mobile webkit browsers - no wrapping)
// * Final standards syntax (FF, Safari, Chrome, IE11, Opera)
//
// This was inspired by:
//
// * http://dev.opera.com/articles/view/advanced-cross-browser-flexbox/
//
// With help from:
//
// * http://w3.org/tr/css3-flexbox/
// * http://the-echoplex.net/flexyboxes/
// * http://msdn.microsoft.com/en-us/library/ie/hh772069(v=vs.85).aspx
// * http://css-tricks.com/using-flexbox/
// * http://dev.opera.com/articles/view/advanced-cross-browser-flexbox/
// * https://developer.mozilla.org/en-us/docs/web/guide/css/flexible_boxes

//----------------------------------------------------------------------

// /*----------------------------------------------------------------------*\
//   # Flexboxgrid
// 	   https://github.com/hugeinc/flexboxgrid-sass
// \*----------------------------------------------------------------------*/


	//Guy added:

	// @function pad-col( $paddingColsRequired, $totalCols ) {
		
	// 	$percentage: ($paddingColsRequired / $totalCols)  * 100%;

	// 	@return $percentage;

	// }

		
	%fluid-outer-margin {

	}


	// Set the number of columns you want to use on your layout.
	$flexboxgrid-grid-columns: 24, 12;

	// Set the gutter between columns.
	$flexboxgrid-gutter-width: 1rem, 1rem;  //110px

	// Set a margin for the container sides.
	$flexboxgrid-outer-margin: 0, 0; 	//60px

	// Create or remove breakpoints for your project
	// name	breakpoint	container
	$flexboxgrid-breakpoints:
		sm	$small		$small,
		nx	$nexus		$nexus,
		md	$medium		$medium,
		ip	$ipad		$ipad,
		lg	$large		$large,
		xl	$xlarge		$xlarge,
		hg	$huge		$huge,
		mx	$max		$max;

	// Set the max-width of the container.
	$flexboxgrid-max-width: 1600px, 1600px;

	// Create multiple grids by using a prefix
	$prefixes: '', 'xxx-';

//
// -- Stop editing -- //
//

@mixin flexboxgrid-sass-col-common {
	box-sizing: border-box;

	// split @include flex(0, 0, auto) into individual props
	flex-grow: 0;
	flex-shrink: 0;

	// we leave @include flex-basis(auto) out of common because
	// in some spots we need it and some we dont
	// more why here: https://github.com/kristoferjoseph/flexboxgrid/issues/126
}

@each $prefix in $prefixes {

	$pre: $prefix;
	$i: index($prefixes, $prefix);

	$grid-columns:  nth($flexboxgrid-grid-columns, $i);

	$outer-margin:  nth($flexboxgrid-outer-margin, $i);
	$max-width:     nth($flexboxgrid-max-width, $i);
	$gutter-width:  nth($flexboxgrid-gutter-width, $i);

	$gutter-compensation: $gutter-width * .5 * -1;
	$half-gutter-width: $gutter-width * .5;

	.#{$pre}wrapper {
		margin: 0 auto;
	}

	.#{$pre}container {
		margin-right: auto;
		margin-left: auto;
		padding-right: $outer-margin;
		padding-left: $outer-margin;
		max-width: $max-width;
	}

	.#{$pre}row {
		box-sizing: border-box;
		display: flex;
		flex: 0, 1, auto;
		flex-direction: row;
		flex-wrap: wrap;

		&--gutter {
			margin-right: $gutter-compensation;
			margin-left: $gutter-compensation;
		}
	}

	.row.reverse {
		flex-direction: row-reverse;
	}

	.col.reverse {
		flex-direction: column-reverse;
	}

	$name: xs;

	.#{$pre}col-#{$name} {
		@include flexboxgrid-sass-col-common;
		flex-basis: auto;

		.#{$pre}row--gutter > & {
			padding-right: $half-gutter-width;
			padding-left: $half-gutter-width;
		}
	}

	@for $i from 1 through $grid-columns {
		.#{$pre}col-#{$name}-#{$i} {
			@include flexboxgrid-sass-col-common;
			flex-basis: 100% / $grid-columns * $i;
			max-width: 100% / $grid-columns * $i;

			.#{$pre}row--gutter > & {
				padding-right: $half-gutter-width;
				padding-left: $half-gutter-width;
			}
		}

		
	}

	
	@for $i from 0 through $grid-columns {
		.#{$pre}col-#{$name}-push-#{$i} {
			@include flexboxgrid-sass-col-common;
			@if $i == 0 {
				margin-left: 0;
			} @else {
				margin-left: 100% / $grid-columns * $i;
			}
		}
		.#{$pre}col-#{$name}-pull-#{$i} {
			@include flexboxgrid-sass-col-common;
			@if $i == 0 {
				margin-right: 0;
			} @else {
				margin-right: 100% / $grid-columns * $i;
			}
		}
	}
	.#{$pre}col-#{$name} {
		flex-grow: 1;
		flex-basis: 0;
		max-width: 100%;

		.#{$pre}row--gutter > & {
			padding-right: $half-gutter-width;
				padding-left: $half-gutter-width;
		}
	}
	.#{$pre}start-#{$name} {
		justify-content: flex-start;
		text-align: left;
	}

	.#{$pre}center-#{$name} {
		justify-content: center;
		text-align: center;
	}

	.#{$pre}end-#{$name} {
		justify-content: flex-end;
		text-align: right;
	}

	.#{$pre}top-#{$name} {
		align-items: flex-start;
	}

	.#{$pre}middle-#{$name} {
		align-items: center;
	}

	.#{$pre}bottom-#{$name} {
		align-items: flex-end;
	}

	.#{$pre}around-#{$name} {
		justify-content: space-around;
	}

	.#{$pre}between-#{$name} {
		justify-content: space-between;
	}

	.#{$pre}first-#{$name} {
		order: -1;
	}

	.#{$pre}last-#{$name} {
		order: 1;
	}

	.#{$pre}grow-#{$name}-1 {
		flex-grow: 1;
	}

	.#{$pre}grow-#{$name}-0 {
		flex-grow: 0;
	}

	.#{$pre}shrink-#{$name}-1 {
		flex-shrink: 1;
	}

	.#{$pre}shrink-#{$name}-0 {
		flex-shrink: 0;
	}


	@each $breakpoint in $flexboxgrid-breakpoints {
		$name: nth($breakpoint, 1);
		$size: nth($breakpoint, 2);
		$container: nth($breakpoint, 3);

		@media only screen and (min-width: $size) {

			// .#{$pre}container {
			// 	width: $container;
			// }

			.#{$pre}col-#{$name} {
				@include flexboxgrid-sass-col-common;
				flex-basis: auto;

				.#{$pre}row--gutter > & {
					padding-right: $half-gutter-width;
					padding-left: $half-gutter-width;
				}
			}

			@for $i from 1 through $grid-columns {
				.#{$pre}col-#{$name}-#{$i} {
					@include flexboxgrid-sass-col-common;
					flex-basis: 100% / $grid-columns * $i;
					max-width: 100% / $grid-columns * $i;

					.#{$pre}row--gutter > & {
						padding-right: $half-gutter-width;
						padding-left: $half-gutter-width;
					}
				}
				
				.#{$pre}wd-#{$name}-#{$i} {
					width: 100% / $grid-columns * $i;
				}
			}
			@for $i from 0 through $grid-columns {
				.#{$pre}col-#{$name}-push-#{$i} {
					@include flexboxgrid-sass-col-common;
					@if $i == 0 {
						margin-left: 0;
					} @else {
						margin-left: 100% / $grid-columns * $i;
					}
				}
				.#{$pre}col-#{$name}-pull-#{$i} {
					@include flexboxgrid-sass-col-common;
					@if $i == 0 {
						margin-right: 0;
					} @else {
						margin-right: 100% / $grid-columns * $i;
					}
				}
			}

			.#{$pre}col-#{$name}-fifth {
				 @include flexboxgrid-sass-col-common;
				 flex-basis: calc(100% / 5);
				 max-width: calc(100% / 5);
			}

			.#{$pre}col-#{$name}-third {
				 @include flexboxgrid-sass-col-common;
				 flex-basis: calc(100% / 3);
				 max-width: calc(100% / 3);
			}

			.#{$pre}col-#{$name}-two-thirds {
				 @include flexboxgrid-sass-col-common;
				 flex-basis: calc((100% / 3) * 2);
				 max-width: calc((100% / 3) * 2);
			}

			.#{$pre}col-#{$name} {
				flex-grow: 1;
				flex-basis: 0;
				max-width: 100%;
			}

			.#{$pre}start-#{$name} {
				justify-content: flex-start;
				text-align: left;
			}

			.#{$pre}center-#{$name} {
				justify-content: center;
				text-align: center;
			}

			.#{$pre}end-#{$name} {
				justify-content: flex-end;
				text-align: right;
			}

			.#{$pre}top-#{$name} {
				align-items: flex-start;
			}

			.#{$pre}middle-#{$name} {
				align-items: center;
			}

			.#{$pre}bottom-#{$name} {
				align-items: flex-end;
			}

			.#{$pre}around-#{$name} {
				justify-content: space-around;
			}

			.#{$pre}between-#{$name} {
				justify-content: space-between;
			}

			.#{$pre}first-#{$name} {
				order: -1;
			}

			.#{$pre}last-#{$name} {
				order: 1;
			}

			.#{$pre}grow-#{$name}-1 {
				flex-grow: 1;
			}

			.#{$pre}grow-#{$name}-0 {
				flex-grow: 0;
			}

			.#{$pre}shrink-#{$name}-1 {
				flex-shrink: 1;
			}

			.#{$pre}shrink-#{$name}-0 {
				flex-shrink: 0;
			}
		}
	}
}