/* ===================================================================
	# Forms
	 ================================================================ */

// .form {

// 	&__row {
// 		display: flex;
// 		flex-direction: row;
// 		justify-content: space-between;
// 		align-items: center;
// 		flex-wrap: wrap;

// 		position: relative;
// 	}

// 	&__field {
// 		width: 100%;
// 		margin-bottom: 2.5rem;

// 		@include media($nexus) {
// 			width: pad-col(4,9);
// 		}

// 		&--full-width {
// 			width: 100%;
// 		}
// 	}



// 	label {
// 		@extend %fs-20;
// 		line-height: 1;
// 		display: block;
// 		color: $white;
// 		margin: 0 0 0.5em;

// 	}

// 	input[type="submit"],
// 	button[type="submit"],
// 	button.submit {
// 		//@extend .button;
// 		@extend %fs-22;
// 		padding: 0.75em;
// 		background-color: transparent;

// 		border: 1px solid $primary;
// 		color: $primary;
// 		cursor: pointer;

// 		width: pad-col(4,9);

// 		transition: all 0.3s ease;

// 		&:hover,
// 		&:focus {
// 			background-color: $primary;
// 			color: $white;
// 		}

// 		&[disabled] {
// 			color: $dark-gray;

// 			&:hover,
// 			&:focus {
// 				color: $dark-gray;
// 				background-color: transparent;
// 			}
// 		}
// 	}

// 	input[type="text"],
// 	input[type="password"],
// 	input[type="email"],
// 	input[type="tel"],
// 	input[type="search"],
// 	textarea {
// 		@extend %base;
// 		display: block;
// 		position: relative;
// 		width: 100%;
// 		margin: 0;
// 		padding: 1em;
// 		line-height: 1.5em;
// 		color: $white;
// 		border: none;
// 		border-bottom: 1px solid $primary;
// 		border-radius: 0px;
// 		background-color: transparent;

// 		-webkit-appearance: none;
// 		transition: background 300ms;

// 		&:focus {
// 			outline: 0;

// 			background-color: rgba($white, 0.1);

// 		}

// 		@at-root {
// 			.has-error {
// 				input[type="text"],
// 				input[type="password"],
// 				input[type="email"],
// 				input[type="tel"],
// 				input[type="search"],
// 				textarea {
// 					background-color: rgba($white, 0.1);
// 				}
// 			}
// 		}

// 		&[disabled],
// 		&[readonly] {
// 			background-color: $light-grey;
// 			border-color: $light-grey;
// 			text-transform: uppercase;
// 		}
// 	}

// 	select {
// 		font-family: $base-font-family;
// 		display: block;
// 		width: 100%;
// 		margin: 0;
// 		padding: 0.75em 0.5em;
// 		line-height: 1.5em;
// 		color: $primary;
// 		border: 1px solid $primary;

// 		background-color: transparent;

// 		transition: border 300ms;

// 		&:focus {
// 			outline: 0;
// 			background-color: rgba($primary, 0.05);
// 		}

// 		&[disabled] {
// 			background-color: #ececec;
// 			border-color: #ececec;
// 		}
// 	}

// 	.selectric-wrapper {

// 		.selectric {
// 			border-color: $light-grey;
// 			transition: border 300ms;
// 		}

// 		&.selectric-open {

// 			.selectric {
// 				border-color: $primary;
// 			}

// 		}
// 	}

// 	fieldset {
// 		border: 0;
// 		margin: 0 0 2.5rem;
// 		padding: 0 .5rem;

// 		legend {
// 			color: $black;
// 			margin-bottom: 0.5rem;

// 			.required {
// 				color: $error;
// 			}
// 		}
// 	}

// 	&__alert {
// 		list-style-type: none;
// 		background-color: $primary;
// 		color: $white;
// 		margin: 0;
// 		padding: 1em 1em 0.25em 1em;
// 	}
// }

// .form__radio {
// 	display: inline-block;
// 	width: auto;

// 	&--multi {
// 		display: block;
// 		margin: 0.5rem 0;

// 		label {
// 			text-transform: none;
// 			color: $black;
// 			margin: 0;
// 		}

// 		/* Base for label styling */
// 		input[type="radio"] {
// 			@extend .screen-reader;
// 		}
// 		input[type="radio"]:not(:checked) + label,
// 		input[type="radio"]:checked + label {
// 			position: relative;
// 			display: inline-block;
// 			padding-left: 2em;
// 			cursor: pointer;
// 		}

// 		input[type="radio"]:checked + label {
// 			color: $primary;
// 		}

// 		/* checkbox aspect */
// 		input[type="radio"] + label:before {
// 			content: '';
// 			position: absolute;
// 			left: 0;
// 			top: 0.3em;
// 			width: 15px;
// 			height: 15px;
// 			border: 2px solid $primary;
// 			background: transparent;
// 			border-radius: 50%;
// 		}

// 		input[type="radio"]:checked + label:before {
// 			border-color: $primary;
// 		}

// 		/* checked mark aspect */
// 		input[type="radio"]:not(:checked) + label:after,
// 		input[type="radio"]:checked + label:after {
// 			content: '';
// 			position: absolute;
// 			width: 9px;
// 			height: 9px;
// 			top: calc(0.3em + 3px);
// 			left: 3px;
// 			border-radius: 50%;
// 			background-color: $primary;
// 			transition: all .2s;
// 		}
// 		/* checked mark aspect changes */
// 		input[type="radio"]:not(:checked) + label:after {
// 			opacity: 0;
// 			transform: scale(0);
// 		}

// 		input[type="radio"]:checked + label {
// 			color: $primary;
// 		}

// 		input[type="radio"]:checked + label:after {
// 			opacity: 1;
// 			transform: scale(1);
// 		}
// 	}

// 	&--boxed {
// 		input[type="radio"] {
// 			@extend .screen-reader;
// 		}

// 		label {
// 			display: inline-block;
// 			padding: 1.3575em 1em;
// 			min-width: 4em;
// 			text-align: center;
// 			line-height: 1;
// 			border: 3px solid $light-grey;
// 			background-color: transparent;
// 			cursor: pointer;
// 			transition: border $base-duration $base-timing;
// 		}

// 		input[type="radio"].disabled + label,
// 		input[type="radio"]:disabled + label {
// 			background-color: $light-grey;
// 			color: $light-grey;
// 			border-color: $light-grey;
// 		}

// 		input[type="radio"].disabled:checked + label {
// 			background: $primary;
// 			border-color: $primary;
// 			color: $white;
// 		}

// 		input[type="radio"]:disabled + label {
// 			background-color: $light-grey;
// 			color: $light-grey;
// 			border-color: $light-grey;
// 			cursor: default;
// 		}

// 		input[type="radio"]:checked + label {
// 			border-color: $primary;
// 		}
// 	}


// }

// .form__checkbox {
// 	margin: 1rem 0;

// 	label {
// 		color: $black;
// 		border-top: 0;
// 		padding-top: 0;
// 	}

// 	/* Base for label styling */
// 	input[type="checkbox"] {
// 		@extend .screen-reader;
// 	}
// 	input[type="checkbox"]:not(:checked) + label,
// 	input[type="checkbox"]:checked + label {
// 		position: relative;
// 		display: block;
// 		padding-left: 2em;
// 		cursor: pointer;
// 	}

// 	/* checkbox aspect */
// 	input[type="checkbox"]:not(:checked) + label:before,
// 	input[type="checkbox"]:checked + label:before {
// 		content: '';
// 		position: absolute;
// 		left: 0;
// 		top: 0.3em;
// 		width: 15px;
// 		height: 15px;
// 		border: 2px solid $primary;
// 		border-radius: 2px;
// 		background: transparent;
// 	}

// 	/* checked mark aspect */
// 	input[type="checkbox"]:not(:checked) + label:after,
// 	input[type="checkbox"]:checked + label:after {
// 		content: '';
// 		position: absolute;
// 		top: calc(0.3em + 3px);
// 		left: 3px;
// 		background-color: $primary;
// 		width: 9px;
// 		height: 9px;
// 		transition: all .2s;
// 	}

// 	/* checked mark aspect changes */
// 	input[type="checkbox"]:not(:checked) + label:after {
// 		opacity: 0;
// 		transform: scale(0);
// 	}

// 	input[type="checkbox"]:checked + label:after {
// 		opacity: 1;
// 		transform: scale(1);
// 	}

// 	input[type="checkbox"]:checked + label:before {
// 		border-color: $primary;
// 	}

// 	input[type="checkbox"]:checked + label {
// 		color: $primary;
// 	}

// 	// Disabled + checked
// 	input[type="checkbox"]:checked:disabled + label:after {
// 		background-color: rgba($primary, 0.3);
// 	}

// 	input[type="checkbox"]:checked:disabled + label:before {
// 		border-color: rgba($primary, 0.3);
// 	}

// 	input[type="checkbox"]:checked:disabled + label {

// 	}


// }