// =============================================================================
// Lazyloaded images
// =============================================================================

	// @mixin image-sizing {
	// 	position: absolute;
	// 	top: 0;
	// 	left: 0;
	// 	height: 100%;
	// 	width: 100%;
	// }
	
	// .lazy {
	// 	@include image-sizing;
	
	// 	&--img {
	// 		position: relative;
	// 		height: 0; // Has the padding-bottom ratio technique
	// 		overflow: hidden; // Just in case
	// 		display: block; // We need to go full width with this technique
	
	// 		img {
	// 			@include image-sizing;
	// 		}
	// 	}
	
	// 	&--background {
	// 		position: relative;
	// 		overflow: hidden;
	// 		display: block;
	// 		height: 100%;
	
	// 		.lazyload,
	// 		.lazyloaded {
	// 			background-size: cover;
	// 			background-repeat: no-repeat;
	// 			background-size: cover;
	// 			background-position: 50%;
	// 		}
	
	// 		.lazyload,
	// 		.lazyloaded,
	// 		img {
	// 			@include image-sizing;
	// 		}
	// 	}
	// }
	
	// .lazy__placeholder {
	// 	max-width: none;
	// 	transition: opacity 1s ease;
	// 	@include image-sizing;
	// 	background-color: $light-grey;
	// 	//will-change: opacity;
	
	// 	.lazyload + & {
	// 		opacity: 1;
	// 	}
	
	// 	.lazyloaded + & {
	// 		opacity: 0;
	// 		//transform: scale(1);
	// 	}
	
	// 	// Background images
	// 	.lazy--background & {
	// 		height: 100%;
	// 		background-repeat: no-repeat;
	// 		background-size: cover;
	// 		background-position: 50%;
	// 	}
	// }
