/*  ==========================================================================
	# Mixins
	======================================================================= */

	@function pad-col( $paddingColsRequired, $totalCols ) {
		
		$percentage: ($paddingColsRequired / $totalCols)  * 100%;

		@return $percentage;

	}

	



// contain floats
	@mixin clearfix() {
		*zoom: 1;

		&:before,
		&:after {
			display: table;
			content: '';
		}

		&:after {
			clear: both;
		}
	}

// visually hidden
	@mixin visuallyhidden() {
		border: 0;
		clip: rect(0 0 0 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}

// Stripping out units

	@function strip-unit($number) {
		@if type-of($number) == 'number' and not unitless($number) {
			@return $number / ($number * 0 + 1);
		}

		@return $number;
	}

// rem font sizing

	// @mixin font-size($size, $mediaMin: null, $mediaMax: null, $query: true) {
	// 	$rem-size: $base-font-size;

	// 	  @if $mediaMin == $base {
	// 		$rem-size: $base-font-size;

	// 	} @elseif $mediaMin == $small {
	// 		$rem-size: $small-font-size;

	// 	} @elseif $mediaMin == $nexus {
	// 		$rem-size: $nexus-font-size;

	// 	} @elseif $mediaMin == $medium {
	// 		$rem-size: $medium-font-size;

	// 	} @elseif $mediaMin == $ipad {
	// 		$rem-size: $ipad-font-size;

	// 	} @elseif $mediaMin == $large {
	// 		$rem-size: $large-font-size;

	// 	} @elseif $mediaMin == $xlarge {
	// 		$rem-size: $xlarge-font-size;

	// 	} @elseif $mediaMin == $huge {
	// 		$rem-size: $huge-font-size;

	// 	} @elseif $mediaMin == $max {
	// 		$rem-size: $max-font-size;
	// 	}

	// 	@if $mediaMin != null and $query {

	// 		@if $mediaMax != null {

	// 			@include media-span($mediaMin, $mediaMax) {
	// 				$remSize: $size / $rem-size;
	// 				font-size: $size;
	// 				font-size: $remSize * 1rem;
	// 			}

	// 		} @else {

	// 			@include media($mediaMin) {
	// 				$remSize: $size / $rem-size;
	// 				font-size: $size;
	// 				font-size: $remSize * 1rem;
	// 			}
	// 		}
	// 	}

	// 	@else {

	// 		$remSize: $size / $rem-size;
	// 		font-size: $size;
	// 		font-size: $remSize * 1rem;

	// 	}

	// }


// =============================================================================
// Responsive helpers
// =============================================================================

/**
 * Fluid Property Helper
 * Article: https://bit.ly/2MaHaXb

 * Basic font scale:
 * .component { @include fp(font-size, 12, 24); }
 *
 * Width scale with custom breakpoint min/max:
 * .component { @include fp(width, 12, 24, $small, $medium); }
 *
 * Or define a non-linear scale:
 * .component {
 *   @include fp(font-size, 10, 200, $small, $medium, $remove-end: true);
 *   @include fp(font-size, 20, 300, $medium, $large, $remove-start: true, $remove-end: true);
 *   @include fp(font-size, 30, 400, $large, $max, $remove-start: true);
 * }
 */
 @mixin fp($property, $min-value, $max-value, $start-breakpoint: $small, $end-breakpoint: $max, $source-unit: vw, $output-unit: px, $remove-start: false, $remove-end: false) {

	$min-value: strip-unit($min-value);
	$max-value: strip-unit($max-value);
	$start-breakpoint: strip-unit($start-breakpoint);
	$end-breakpoint: strip-unit($end-breakpoint);

	$multiplier: ($max-value - $min-value) / ($end-breakpoint - $start-breakpoint) * 100;
	$adder: ($min-value * $end-breakpoint - $max-value * $start-breakpoint) / ($end-breakpoint - $start-breakpoint);

	$formula: calc(#{$multiplier + $source-unit} + #{$adder + 0+$output-unit});

	// Start
	// Capped from just before $start-breakpoint
	// Fluid from $start-breakpoint to just before $end-breakpoint
	@if ($remove-end) and not ($remove-start) {
		@media (max-width: #{$start-breakpoint - 1px}) {
			#{$property}: $min-value + 0#{$output-unit};
		}
		@media (min-width: #{$start-breakpoint + 0px}) and (max-width: #{$end-breakpoint - 1px}) {
			#{$property}: $formula;
		}

		// Middle stretch
		// Fluid from $start-breakpoint to just before $end-breakpoint
	} @else if ($remove-start) and ($remove-end) {
		@media (min-width: #{$start-breakpoint + 0px}) and (max-width: #{$end-breakpoint - 1px}) {
			#{$property}: $formula;
		}

		// End
		// Fluid from $start-breakpoint to just before $end-breakpoint
		// Capped from $end-breakpoint
	} @else if ($remove-start) and not ($remove-end) {
		@media (min-width: #{$start-breakpoint + 0px}) and (max-width: #{$end-breakpoint - 1px}) {
			#{$property}: $formula;
		}
		@media (min-width: #{$end-breakpoint + 0px}) {
			#{$property}: $max-value + 0#{$output-unit};
		}

		// Full stretch
		// Capped from just before $start-breakpoint
		// Fluid from $start-breakpoint to just before $end-breakpoint
		// Capped from $end-breakpoint
	} @else {
		@media (max-width: #{$start-breakpoint - 1px}) {
			#{$property}: $min-value + 0#{$output-unit};
		}
		@media (min-width: #{$start-breakpoint + 0px}) and (max-width: #{$end-breakpoint - 1px}) {
			#{$property}: $formula;
		}
		@media (min-width: #{$end-breakpoint + 0px}) {
			#{$property}: $max-value + 0#{$output-unit};
		}
	}
}


// breakpoints
	@mixin media($point) {
		@media screen and (min-width: $point) {@content;}
	}

	@mixin media-max($point) {
		@media screen and (max-width: $point - 1px) {@content;}
	}

	@mixin media-span($from, $to) {
		@media screen and (min-width: $from) and (max-width: $to - 1px) {@content;}
	}


// Slick slider preloader
// use with media queries to match slider breakpoint settings 
@mixin carouselPreloader( $n ) {
	display: none;
	@for $i from 1 through $n {
		&:nth-child(#{$i}) {
			display: flex;
		}
	}
}