/*  ==========================================================================
	# Typography
	======================================================================= */


%fs-a,
%fs-60 {
	@include fp('font-size', 23, 48, $small, $medium, $remove-start: false, $remove-end: true);
	@include fp('font-size', 30, 48, $medium, $ipad, $remove-start: true, $remove-end: true);
	@include fp('font-size', 27, 50, $ipad, $max, $remove-start: true, $remove-end: false);
}

%fs-b,
%fs-46 {
	@include fp('font-size', 18, 28, $small, $medium, $remove-start: false, $remove-end: true);
	@include fp('font-size', 22, 28, $medium, $ipad, $remove-start: true, $remove-end: true);
	@include fp('font-size', 20, 30, $ipad, $max, $remove-start: true, $remove-end: false);
}

%fs-c,
%fs-30 {
	@include fp('font-size', 15, 24, $small, $medium, $remove-start: false, $remove-end: true);
	@include fp('font-size', 18, 22, $medium, $ipad, $remove-start: true, $remove-end: true);
	@include fp('font-size', 18, 22, $ipad, $max, $remove-start: true, $remove-end: false);
}

%fs-d,
%fs-26 {
	@include fp('font-size', 13, 19, $small, $medium, $remove-start: false, $remove-end: true);
	@include fp('font-size', 16, 19, $medium, $ipad, $remove-start: true, $remove-end: true);
	@include fp('font-size', 17, 26, $ipad, $max, $remove-start: true, $remove-end: false);
}

%fs-22 {
	@include fp('font-size', 15, 16, $small, $medium, $remove-start: false, $remove-end: true);
	@include fp('font-size', 16, 16, $medium, $ipad, $remove-start: true, $remove-end: true);
	@include fp('font-size', 16, 22, $ipad, $max, $remove-start: true, $remove-end: false);
}

%fs-28 {
	@include fp('font-size', 15, 16, $small, $medium, $remove-start: false, $remove-end: true);
	@include fp('font-size', 28, 28, $medium, $ipad, $remove-start: true, $remove-end: true);
	@include fp('font-size', 28, 28, $ipad, $max, $remove-start: true, $remove-end: false);
}


%fs-20 {
	@include fp('font-size', 10, 15, $small, $medium, $remove-start: false, $remove-end: true);
	@include fp('font-size', 15, 15, $medium, $ipad, $remove-start: true, $remove-end: true);
	@include fp('font-size', 15, 20, $ipad, $max, $remove-start: true, $remove-end: false);
}

%fs-16,
%fs-base,
%base {
	@include fp('font-size', 14, 14, $small, $medium, $remove-start: false, $remove-end: true);
	@include fp('font-size', 14, 14, $medium, $ipad, $remove-start: true, $remove-end: true);
	@include fp('font-size', 14, 16, $ipad, $max, $remove-start: true, $remove-end: false);
}

%fs-14,
%fs-small,
%small {
	@include fp('font-size', 12, 12, $small, $medium, $remove-start: false, $remove-end: true);
	@include fp('font-size', 12, 13, $medium, $ipad, $remove-start: true, $remove-end: true);
	@include fp('font-size', 13, 14, $ipad, $max, $remove-start: true, $remove-end: false);
}



%caps {
	font-family: $base-font-family;
	text-transform: uppercase;
	letter-spacing: 0.25em;
}

