/*  ==========================================================================
	# Variables
	======================================================================= */

// Typography
$base-font-family: 'Source Sans Pro', sans-serif;
$secondary-font-family: 'Roboto Slab', serif;

$heading-font-family: $secondary-font-family;

// Font Sizes
// $base-font-size: 10px;
// $small-font-size: 11px;
// $nexus-font-size: 11px;
// $medium-font-size: 13px;
// $ipad-font-size: 15px;
// $large-font-size: 16px;
// $xlarge-font-size: 17px;
// $huge-font-size: 18px;
// $max-font-size: 20px;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.3;

// Other Sizes
$base-border-radius: 4px;
$bbr: $base-border-radius;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Font Colors
$base-font-color: $black;
$action-color: $primary;

// Animations
$base-duration: 500ms;
$base-timing: ease;

// Borders
$base-border-color: $black;
$base-border: 1px solid $black;

$base: 0px;
$small: 480px;
$nexus: 600px;
$medium: 768px;
$ipad: 1024px;

$large: 1280px;
$xlarge: 1440px;
$huge: 1681px;
$max: 1920px;


// Padding
$pad-small: 3rem;
$pad-large: 5rem;

$pad-sm: $pad-small;
$pad-lg: $pad-large;

$gutter: 8rem;



/**
 * Comment this out in production!
 */
body:before {
  content: "base";
  display: block;
  position: fixed;
  z-index: 100000;
  left: 0;
  top: 30px;
  font-size: 13px;
  font-family: 'Source Code Pro';
  background-color: rgba(hotpink, 0.9);
  padding: 0.25em 0.5em;
  line-height: 1;
  color: #fff;
}

@media (min-width: $small) {
  body:before {
    content: "small";
  }
}

@media (min-width: $nexus) {
  body:before {
    content: "nexus";
  }
}

@media (min-width: $medium) {
  body:before {
    content: "medium";
  }
}

@media (min-width: $ipad) {
  body:before {
    content: "ipad";
  }
}

@media (min-width: $large) {
  body:before {
    content: "large";
  }
}

@media (min-width: $xlarge) {
  body:before {
    content: "xlarge";
  }
}

@media (min-width: $huge) {
  body:before {
    content: "huge";
  }
}

@media (min-width: $max) {
  body:before {
    content: "max";
  }
}
