<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Front-end best practice demo!</title>

     <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab|Source+Sans+Pro&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Styles will be automatically added here -->
</head>

<!-- This is for the icon sprite -->
<body data-icons="/dist/sprite.svg">

    <!-- Old Browser Warning -->
	<!--[if lt IE 10]>
		<section class="container">
			Did you know that your web browser is a bit old? Some of the content on this site might not work right as a result. <a href="http://whatbrowser.org">Upgrade your browser</a> for a faster, better, and safer web experience.
		</section>
	<![endif]-->

	<nav id="mobile-menu">
		<ul>
      {% for i in 1..3 %}
        <li class="main-nav__item">
            <a href="#" class="main-nav__link">Menu item {{ i }}</a>
        </li>							
      {% endfor %}
		</ul>
	</nav>

	<div class="wrapper">

    <div class="logo"> 
      <div class="inner-wrapper">
        	<div class="container">
            <h3 class="logo-title">This is a logo<h3>
            <h1 class="screen-reader">
                {# {{ currentSite.name }} –  #}
                This is a logo
            </h1>
          </div>
      </div>
    </div>

		<header class="header">
		
			<div class="inner-wrapper">
			
				<div class="container">

					<div class="row  between-xs  center-xs  middle-xs">

						<div class="col-xs-4 col-ip-18">

							<button id="toggleMobMenu" class="js-mobile-navigation    header__mobile-menu-button    small-only
							hamburger hamburger--collapse" type="button">
								<span class="hamburger-box">
									<span class="hamburger-inner"></span>
								</span>

								<span class="screen-reader">Menu</span>
							</button>

							<nav class="header__nav    main-nav">

								<ul class="main-nav__list">
									{% for i in 1..3 %}
										<li class="main-nav__item">
											<a href="#" class="main-nav__link">Menu item {{ i }}</a>
										</li>							
									{% endfor %}
									
							
								</ul>
		
							</nav>

						</div>

					</div>

				</div>

			</div>

		</header>
		
		
        
    {% block main %}{% endblock %}


		<footer class="footer">
      <h2> Find more books now at BooksBooksBooks </h2>
      <p>Sign up to our mailing list</p>
    </footer>

		<!-- Scripts will be automatically added here -->
		<script>
      document.addEventListener(
          "DOMContentLoaded", () => {
              const node = document.querySelector( "#mobile-menu" );
    const menu = new MmenuLight( node );
    const trigger = document.querySelector( "#toggleMobMenu" );
    
              menu.enable( "(max-width: 600px)" );
              menu.offcanvas();

              document.querySelector( "#toggleMobMenu" )
                  .addEventListener( "click", ( evnt ) => {
        menu.open();
        
        if( trigger.classList.contains('is-active') ) {
          trigger.classList.remove('is-active');
        } else {
          trigger.classList.add('is-active');
        }

                      //    Don't forget to "preventDefault" and to "stopPropagation".
                      evnt.preventDefault();
                      evnt.stopPropagation();
                  });
          }
      );
  </script> 
  </body>
</html>