/*  ==========================================================================
	# Internal 
	======================================================================= */

.internal {

	&__content,
	&__landing {

	}

}



/*  ==========================================================================
	# Blocks 
	======================================================================= */

.block {

	&__copy,
	&__accordion,
	&__links,
	&__gallery,
	&__image-grid,
	&__fullimage,
	&__video,
	&__people,
	&__logos {
		margin-bottom: 3rem !important;
	}

	&__accordion +  &__accordion {
		margin-top: -2.5rem;

	}

	&__links {


	}

	&__gallery {


	}

	&__image-grid {


	}

	&__fullimage {


	}

	&__video {


	}

	&__people {


	}




}


